<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.msoe.leinoa.androideventer">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AndroidEventer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TriggersActivity"
            android:parentActivityName=".AndroidEventer" />
        <activity
            android:name=".EventsActivity"
            android:parentActivityName=".AndroidEventer" />
        <activity android:name=".EventsViewActivity"
            android:parentActivityName=".EventsActivity"/>
        <activity android:name=".EventsAddActivity"
            android:parentActivityName=".EventsActivity"/>
        <activity
            android:name=".ActionsActivity"
            android:parentActivityName=".AndroidEventer" />

        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".networking.ServerCommunicatorService"/>
    </application>

</manifest>